/*Google Fonts Imported*/
@import url('https://fonts.googleapis.com/css2?family=Short+Stack&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


/*General Style*/
html, body {
    font-size: 16px;
    font-family: 'Comic Neue', serif;
    margin: 0%;
    padding: 0%;
    background-color: #FFFCF6;
}

 

/*First section*/

#welcome {
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: #000105;
}


#image-block {
   background-image: url("https://raw.githubusercontent.com/ViktoriiaZaichuk/Tribute-Page/main/Resources/Frida%20-%20asset%201.png");
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain; 
   height: 65vh; 
} 


#welcome-txt {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;    
}

#title {
    text-align: center;
    font-family: 'Short Stack';
    font-size: 30px;
    color: #FF5700;
}

#welcome p {
    text-align: justify;
    max-width: 700px;
    line-height: 1.4;
}

.rightp {
    float: right;
}



/*second section*/

#main {
    display: flex; 
    align-items: center;
    color: #000105;
    justify-content: space-around;  
}


#time-line {
    font-family: 'Short Stack';
    font-size: 30px;
    color: #FF5700;
    text-align: center;
    line-height: 3;
}


#tribute-info {
    text-align: justify;
    max-width: 700px; 
    padding: 10px;
}


ul {
    line-height: 1.6;
    list-style-type: none;
    padding-left: 0%;
}

li {
    margin: 1rem 0;
}




#img-div img {
    width: 30vw;
    padding: 10px;
} 



/*third section*/

#footer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: #000105;
    justify-content: center; 
    align-items: center;
    background-image: url("https://github.com/ViktoriiaZaichuk/Tribute-Page/blob/main/Resources/Background%20picture%20-%20asset%203.png?raw=true");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; 
    
}



.end {
    text-align: justify;
    max-width: 700px;
    line-height: 1.6;
}

.end2 {
    text-align: center;
    max-width: 700px;
    margin-top: 5rem;
}




/*responsive*/

@media (max-width: 1242px) {
    #main {
        padding: 10px;
   
    }
}


@media (max-width: 1024px) {
    #main {
        padding: 10px;
        flex-direction: column;     
    }

    .end {
        max-width: 75%;
    }

    .end2 {
        max-width: 75%;
    }
    
}



@media (max-width: 768px) {
    #welcome p {
        max-width: 80%;
    }


    #tribute-info {
        max-width: 80%;
        align-self: center;
    }




    #footer {
        background-image: url("https://github.com/ViktoriiaZaichuk/Tribute-Page/blob/main/Resources/Asset%203%20-%20media%20query%20option.png?raw=true");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain; 
        
    }


    .end {
        max-width: 70%;
    }

    .end2 {
        max-width: 70%;
    }   
}


